<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>비밀번호 찾기</title>
</head>
<body>

<div layout:fragment="content"
     class="container">
    <div th:if="${#httpServletRequest.getParameter('error')}">
        사용자가 존재하지 않거나, 아이디나 패스워드가 정확하지 않습니다.
    </div>
    <form th:action="@{/auth/find_password}" method="post">
        <div><label> Email : <input type="email" name="email"/> </label></div>
        <input type="submit" value="비밀번호 찾기"/>
    </form>
</div>
</body>
</html>