<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>글쓰기</title>
</head>
<body>

    <div layout:fragment="content"
         class="container">
        <form id="storyForm"
              th:action="@{/story/write}"
              th:object="${story}"
              action="#"
              method="post">
            <div th:if="${#fields.hasErrors('*')}"
                 class="alert alert-error">
                <p th:each="error : ${#fields.errors('*')}"
                   th:text="${error}">
                    Validation error
                </p>
            </div>
            <div>
                <select th:field="*{scope}">
                    <option th:each="scopeEach : ${scopes}"
                            th:value="${scopeEach.id}"
                            th:text="${scopeEach.name}">name</option>
                </select>
            </div>

            <label >Title</label>
            <input type="text"
                   th:field="*{title}"
                   th:class="${#fields.hasErrors('title')} ? 'field-error'"/>
            <label>Title</label>
            <input
                    type="text"
                th:field="*{rawText}"
                th:class="${#fields.hasErrors('rawText')} ? 'field-error'"/>
            <div class="form-actions">
                <input type="submit" value="Create"/>
            </div>
        </form>
    </div>
</body>
</html>