<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Messages : View</title>
</head>
<body>
<h1 layout:fragment="header">Messages : Create</h1>
<div layout:fragment="content"
     class="container">
    <table>
        <tr>
            <th>title</th>
            <th>rawText</th>
            <th>member</th>
        </tr>

        <tr th:each="story : ${pagedStories.content}">
            <td>
                <a th:href="@{/story/{id}(id=${story.id})}" href="/story/1">
                    <span th:text="${story.title}">Onions</span>
                </a>
            </td>
            <td th:text="${story.rawText}">2.41</td>
            <td th:text="${story.createdDate}">yes</td>
        </tr>
        <!--<tr th:each="prod : ${pagedStories.}">-->
            <!--<td th:text="${prod.name}">Onions</td>-->
            <!--<td th:text="${prod.price}">2.41</td>-->
            <!--<td th:text="${prod.inStock}? #{true} : #{false}">yes</td>-->
        <!--</tr>-->
    </table>

</div>
</body>
</html>