<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Layout</title>
    <link rel="stylesheet"
          th:href="@{/css/bootstrap.min.css}"
          href="../../css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand"
               href="https://github.com/ultraq/thymeleaf-layout-dialect">
                Thymeleaf - Layout
            </a>
            <ul class="nav">
                <li>
                    <a th:href="@{/}" href="/">
                        Home
                    </a>
                </li>
                <li>
                    <span sec:authentication="username">fake@gmail.com</span>
                </li>
                <li>
                    <a href="/auth/signup">회원가입</a>
                    <a href="/auth/login">로그인</a>
                </li>
            </ul>
        </div>
    </div>
    <h1 layout:fragment="header">Layout</h1>
    <div layout:fragment="content">
        Fake content
    </div>
</div>
</body>
</html>