<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h3>가입 인증 메일입니다.</h3>

<div>
    <p>
    <span th:text="${authToken.getUser.username} + '으로 가입요청을 하셨습니다.'">
        test@test.com 으로 가입요청을 했습니다.
    </span>
    </p>
    <p>
        본인이 요청한 것이 맞다면
        <a href="/" th:href="@{http://localhost:8088/confirm(mid=${authToken.member.id},token=${authToken.token})}">링크</a>
        를 클릭해주세요.
    </p>
</div>
</body>
</html>