<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>비밀번호 재설정</title>
</head>
<body>

<div layout:fragment="content"
     class="container">
    <div th:if="${#httpServletRequest.getParameter('error')}">
        사용자가 존재하지 않거나, 아이디나 패스워드가 정확하지 않습니다.
    </div>
    <form th:action="@{/confirm/reset_password}" method="post">
        <div><label> 비밀번호 : <input type="password" name="password"/> </label></div>
        <div><label> 비밀번호 재입력 : <input type="password" name="reTypePassword"/> </label></div>
        <input type="hidden" name="authTokenId" th:value="${authToken.id}" />
        <input type="hidden" name="memberId" th:value="${authToken.getUser.id}" />
        <input type="submit" value="비밀번호 찾기"/>
    </form>
</div>
</body>
</html>